<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>오디션 관리 프로그램</title>
        <link href="../css/style.css" rel="stylesheet">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <header>
            <h1 class="header-title">오디션 관리 프로그램</h1>
        </header>
            <nav>
                <ul id="menu">
                    <li><a th:href="@{/register}">오디션 등록</a></li>
                    <li><a th:href="@{/list}">참가자 목록 조회</a></li>
                    <li><a th:href="@{/score}">멘토 점수 조회</a></li>
                    <li><a th:href="@{/ranking}">참가자 등수 조회</a></li>
                    <li><a th:href="@{/}">홈으로</a></li>
                </ul>
            </nav>

            <th:block layout:fragment="content"></th:block>

        <footer>
            <p class="footer-content">copyright &copy; 2024 KOREA INFORMATION TECHNOLOGY ACADEMY. ALL RIGHTS RESERVED</p>
        </footer>
    </body>
</html>