<html layout:decorate="~{layout}">
  <div layout:fragment="content" id="contents">
    <meta charset="UTF-8">
    <title>멘토 점수 목록 조회</title>

    <section>
      <br>
      <h1>멘토 점수 목록 목록 조회</h1>
      <br>
      <table border="1">
        <tr>
          <th class="size-100 align-center">채점번호</th>
          <th class="size-100 align-center">참가번호</th>
          <th class="size-100 align-center">참가자명</th>
          <th class="size-200 align-center">생년월일</th>
          <th class="size-50 align-center">점수</th>
          <th class="size-50 align-center">평점</th>
          <th class="size-100 align-center">멘토</th>
        </tr>
        <tr th:each="dto : ${mentorScores}"
            th:with="birthYear=${dto.artist_birth.substring(0, 4)},
                     birthMonth=${dto.artist_birth.substring(4, 6)},
                     birthDay=${dto.artist_birth.substring(6, 8)}">
          <td class="align-center" th:text="${dto.serial_no}"></td>
          <td class="align-center" th:text="${dto.artist_id}"></td>
          <td class="align-center" th:text="${dto.artist_name}"></td>
          <td class="align-center" th:text="${birthYear} + '년 ' + ${birthMonth} + '월 ' + ${birthDay} + '일'"></td>
          <td class="align-center" th:text="${dto.point}"></td>
          <td class="align-center">
            <span th:if="${dto.point >= 90}">A</span>
            <span th:if="${dto.point >= 80 and dto.point < 90}">B</span>
            <span th:if="${dto.point >= 70 and dto.point < 80}">C</span>
            <span th:if="${dto.point >= 60 and dto.point < 70}">D</span>
            <span th:if="${dto.point < 60}">F</span>
          </td>
          <td class="align-center" th:text="${dto.mento_name}"></td>
        </tr>
      </table>
    </section>
  </div>
</html>